:root {
  --color-primary: hsl(0, 0%, 20%);
  --color-primary-light: hsl(0, 0%, 30%);
  --color-accent: hsl(25, 100%, 50%);
  --color-accent-dark: hsl(25, 100%, 30%);
  --nav-height: 60px;
  --nav-clear: 100px;
  --font-size-title: 4.5rem;
  --font-size-subtitle: 2rem;
  --font-size-paragraph: 1.3rem;
}

/* https://www.zealousweb.com/everything-you-need-to-know-about-em-rem/#:~:text=The%20default%20root%20font%20size%20of%20HTML%20is%2016px. */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  background-color: var(--color-primary-light);
  position: fixed;
  height: var(--nav-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#logo {
  margin-left: 5%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

#logo a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

nav {
  margin-right: 3%;
}

#nav-bar {
  list-style: none;
  padding: 0 20px;
}

.nav-movile {
  display: inline-block;
}

#nav-bar li a {
  color: white;
  text-decoration: none;
}

.nav-desktop {
  display: none;
}

#welcome-section {
  background-color: gray;
  background-color: var(--color-primary);
  background-image: url('images/figure.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 160% 110%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

#information {
  color: white;
  max-width: 500px;
  padding: 0 1em;
  margin-top: 5vh;
}

#title {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-title);
  line-height: 82px;
  margin-top: var(--nav-height);
  margin-bottom: 0;
  color: #ff6b00;
  color: var(--color-accent);
  text-align: left;
  font-family: 'Crete Round', sans-serif;
}

#information h2 {
  font-size: var(--font-size-subtitle);
  font-family: 'Inter', sans-serif;
}

#information p {
  width: 95%;
  font-size: var(--font-size-paragraph);
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  line-height: 32px;
}

#contact {
  list-style: none;
  padding-inline-start: 0%;
  padding: 0 1em;
}

#contact li {
  display: inline-block;
  padding: 0 10px;
  transition-duration: 0.5s;
}

#contact li a {
  text-decoration: none;
  color: white;
  width: 30px;
  height: 80px;
  transition: all 0.4s linear;
}

#project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 20vh;
}

#project-title h2 {
  font-family: 'Create Round', Helvetica, sans-serif;
  font-size: var(--font-size-subtitle);
}

#project-title div {
  background-color: var(--color-primary-light);
  height: 2px;
  width: 100%;
}

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.stories-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  min-width: 352px;
}

.stories-img {
  display: block;
  width: 100%;
  max-width: 327px;
  height: auto;
  transition-duration: 1s;
}

.stories-subtitle {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-bottom: 0;
  font-size: var(--font-size-subtitle);
}

.stories-paragraph {
  max-width: 100%;
  min-width: 150px;
  text-justify: distribute-all-lines;
  font-size: var(--font-size-paragraph);
}

.stories-technologies {
  list-style: none;
  padding-inline-start: 0;
}

.sto {
  display: inline-block;
  font-size: var(--font-size-paragraph);
  margin: 5px;
  padding: 10px;
  border: solid 1px var(--color-primary-light);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#principal-project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  margin: 150px auto;
  grid-gap: 20px;
  width: 95%;
}

.project-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url('images/RPM_principal.jpg') 50% 50% no-repeat;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition-duration: 1s;
  height: 500px;
}

.project-subtitle {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-bottom: 0;
  color: white;
  font-size: var(--font-size-subtitle);
}

.project-paragraph {
  max-width: 80%;
  min-width: 150px;
  margin: 0 10px;
  text-justify: distribute-all-lines;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: var(--font-size-paragraph);
}

.tec {
  display: inline-block;
  font-size: var(--font-size-paragraph);
  margin: 5px;
  padding: 10px;
  border: solid 1px var(--color-primary-light);
  background-color: rgba(146, 146, 146, 0.555);
  border-radius: 5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  transition: all 0.5s ease-in;
}

.about-section {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.about-container {
  background: url('images/Frame.png') 100% 100% no-repeat;
  background-size: 30% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  margin-left: 5%;
}

#about-title {
  color: var(--color-accent);
  font-family: 'Crete Round', serif;
  width: 100%;
  font-size: 4em;
  font-weight: 400;
  text-align: start;
  margin: 0;
}

#divition {
  margin-top: 20px;
  width: 90%;
  height: 3px;
  background-color: var(--color-primary-light);
  align-self: center;
}

#about-description {
  max-width: 500px;
  min-width: 150px;
  text-justify: distribute-all-lines;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: var(--font-size-paragraph);
}

.knowledge-container {
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

#lang,
#frame,
#skil {
  font-size: var(--font-size-subtitle);
}

.knowledge-list {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0%;
  margin-bottom: 50px;
}

.knowledge-list .know-li {
  font-size: var(--font-size-paragraph);
  font-weight: 200;
  margin: 20px 0;
  transition: all 0.3s ease-in;
}

.button {
  background-color: var(--color-accent);
  color: white;
  font-size: var(--font-size-paragraph);
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s linear;
  text-align: center;
}

footer {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* stylelint-disable-next-line no-descending-specificity */
footer h2 {
  font-family: 'Roboto', sans-serif;
  color: var(--color-accent);
  font-size: var(--font-size-title);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: var(--nav-height);
}
/* stylelint-disable-next-line no-descending-specificity */
footer #form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container p {
  text-align: center;
  color: #172b4d;
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 20px 0;
  width: 100%;
  border: none;
  border-bottom: solid 1px grey;
  padding-bottom: 15px;
}

form textarea {
  background-color: #fbf8f7;
  width: 100%;
  border: none;
  font-family: 'Inter', sans-serif;
}

#btn-sub {
  font-size: var(--font-size-paragraph);
  font-weight: 700;
  margin: 25px 0;
  border: none;
}

#contact-2 {
  list-style: none;
  text-align: center;
  padding: 0;
}

#contact-2 li {
  display: inline-block;
  margin: 0 5px;
  transition-duration: 0.5s;
}

#contact-2 li a {
  color: var(--color-primary);
  transition: all 0.5s linear;
}

footer .bar-foot {
  width: 30%;
  height: 4px;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0;
}

/* Step 1: Common Properties: All required to make icons render reliably https://fontawesome.com/v5/docs/web/advanced/css-pseudo-elements */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.knowledge-container #lang::before {
  content: '\f219';
  font-family: 'Font Awesome 5 Free', Helvetica, sans-serif;
  color: var(--color-accent);
  margin-right: 10px;
}

.knowledge-container #frame::before {
  content: '\f0c8';
  font-family: 'Font Awesome 5 Free', Helvetica, sans-serif;
  color: var(--color-accent);
  margin-right: 10px;
}

.knowledge-container #skil::before {
  content: '\f111';
  font-family: 'Font Awesome 5 Free', Helvetica, sans-serif;
  color: var(--color-accent);
  margin-right: 10px;
}

#contact li a:hover {
  color: var(--color-accent);
}

#contact li:hover {
  transform: scale(1.1);
}

#contact-2 li a:hover {
  color: var(--color-accent);
}

#contact-2 li:hover {
  transform: scale(1.1);
}

#nav-bar li a:hover {
  width: 100px;
  border-style: groove;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-accent);
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  position: relative;
}

#logo:hover {
  border-style: groove;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-accent);
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  position: relative;
}

.stories-img:hover {
  transform: scale(1.05);
}

.sto:hover {
  background-color: var(--color-accent);
}

.button:hover {
  background-color: var(--color-accent-dark);
}

.project-container:hover {
  transform: scale(1.05);
}

.tec:hover {
  color: var(--color-accent);
}

.knowledge-list .know-li:hover {
  color: var(--color-accent);
}

@keyframes move {
  0% {
    left: 0;
  }

  25% {
    left: 2px;
  }

  50% {
    left: 0;
  }

  75% {
    left: -2px;
  }

  100% {
    left: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .nav-movile {
    display: none;
  }

  .nav-desktop {
    display: inline-block;
    font-family: 'inter', sans-serif;
    margin: 0 15px;
    transition: all 0.5s linear;
  }

  #welcome-section {
    background-size: 30%;
    background-position: center right;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  #information {
    width: 500px;
    margin-top: 0;
    margin-left: 3%;
  }

  #contact li {
    display: block;
    margin: 20px 0;
  }

  #project-title {
    flex-direction: row;
    justify-content: center;
  }

  #project-title h2 {
    width: fit-content;
    margin-right: 20px;
  }

  #project-title div {
    width: 70%;
  }

  .stories-container {
    flex-direction: row;
    justify-content: center;
  }

  .stories-img {
    max-width: 684px;
    width: 60%;
  }

  .stories-info {
    margin-left: 20px;
    max-width: 558px;
    min-width: 290px;
  }

  /* hide the 4th direct child which is the button remove it from the normal flow */
  .project-container > :nth-child(4) {
    visibility: hidden;
    position: absolute;
    left: -10000px;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  /* add to the first 3 children the ability to shdow */
  .project-container > :nth-child(-n+3) {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  .about-container {
    background: url('images/frame_big.png') 100% 50% no-repeat;
    background-size: 40% auto;
  }

  .knowledge-container {
    display: flex;
    justify-content: space-evenly;
    text-align: start;
  }

  footer #form-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #form-container p {
    width: 25%;
    margin: 0 5%;
    text-align: start;
  }

  footer form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .bar-foot {
    display: none;
  }

  #contact-2 {
    width: 100%;
    border-top: 1px solid;
    border-color: var(--color-primary-light);
    padding-top: 15px;
  }

  .project-container:hover {
    background: none, url('images/RPM_principal.jpg') 50% 50% no-repeat;
    background-size: auto 100%;
  }

  /* Hide the first 3 direct children and reduce opacity to see a smooth transition */
  .project-container:hover > :nth-child(-n+3) {
    visibility: hidden;
    opacity: 0;
  }

  /* show the button the forth direct child opacity of one to se a smooth transition */
  .project-container:hover > :nth-child(4) {
    visibility: visible;
    opacity: 1;
    position: relative;
    left: 0;
  }
}
