:root {
  --color-primary: hsl(0, 0%, 20%);
  --color-primary-light: hsl(0, 0%, 30%);
  --color-accent: hsl(25, 100%, 50%);
  --color-accent-dark: hsl(25, 100%, 30%);
  --nav-height: 60px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  background-color: var(--color-primary-light);
  position: fixed;
  height: var(--nav-height);
  top: 0;
  left: 0;
  width: 100%;
}

#logo {
  margin-left: 10px;
}

#logo a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

#nav-bar {
  list-style: none;
  padding: 0 20px;
}

#nav-bar li {
  display: inline-block;
}

#nav-bar li a {
  color: white;
}

#welcome-section {
  background-color: gray;
  background-color: var(--color-primary);
  background-image: url("images/figure.png");
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: 150% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#title {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  margin-top: var(--nav-height);
  margin-bottom: 0;
  color: #ff6b00;
  color: var(--color-accent);
  text-align: center;
}

#information {
  color: white;
  width: auto;
  padding: 0 1em;
}

#information p {
  width: 95%;
}

#contact {
  list-style: none;
  padding-inline-start: 0%;
  align-self: flex-start;
}

#contact li {
  display: inline-block;
  padding: 0 10px;
}

#contact li a {
  text-decoration: none;
  color: white;
  width: 30px;
  height: 80px;
  transition: all 0.4s linear;
}

#project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 20vh;
}

#project-title h2 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1em;
}

#project-title div {
  background-color: var(--color-primary-light);
  height: 2px;
  width: 100%;
}

#principal-project-section {
  display: grid;
  grid-template-columns: minmax(300px, 600px);
  grid-gap: 30px;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: aquamarine;
}

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-img {
  display: block;
  max-width: 80%;
  min-width: 150px;
  height: auto;
  max-height: 500px;
  padding: 1em;
  background-color: var(--color-accent);
}

.stories-subtitle {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-bottom: 0;
}

.stories-paragraph {
  max-width: 80%;
  min-width: 150px;
  text-justify: distribute-all-lines;
}

.stories-technologies {
  list-style: none;
  padding-inline-start: 0;
}

.sto {
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 10px;
  border: solid 1px var(--color-primary-light);
  border-radius: 5px;
}

.project-container {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
}

#project-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("images/RPM_principal.jpg") 50% 50% no-repeat;
  background-size: auto 100%;
}

.project-subtitle {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-bottom: 0;
  color: white;
}

.project-paragraph {
  max-width: 80%;
  min-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  text-justify: distribute-all-lines;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.tec {
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 10px;
  border: solid 1px var(--color-primary-light);
  background-color: rgba(146, 146, 146, 0.555);
  border-radius: 5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.about-container {
  background: url("images/Frame.png") 100% 50% no-repeat, var(--color-primary);
  background-size: 100px auto;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--color-accent);
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s linear;
  text-align: center;
}

#contact li a:hover {
  color: var(--color-accent);
}

#nav-bar li a:hover {
  width: 100px;
  border-style: solid;
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}

.button:hover {
  background-color: var(--color-accent-dark);
}

@keyframes move {
  0% {
    left: 0;
  }

  25% {
    left: 5px;
  }

  50% {
    left: 0;
  }

  75% {
    left: -5px;
  }

  100% {
    left: 0;
  }
}
